.mensagem {
    padding: 20px;
    border: 2px solid blue;
    background-color: aqua;
    color: black;
}

.erro {
    padding: 20px;
    border: 2px solid rgb(172, 3, 3);
    background-color: rgb(255, 255, 255);
    color: rgb(128, 3, 3);
}

.atencao {
    padding: 20px;
    border: 2px solid rgb(203, 236, 14);
    background-color: rgb(243, 243, 237);
    color: rgb(160, 137, 7);
}